/* imports */

@import "./mixins";

/* reset */

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
button,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
nav,
object,
ol,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
title,
tr,
tt,
u,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
}

// fonts
@font-face {
    font-family: "Lazer84";
    src: url("/fonts/Lazer84.ttf");
}

// variables
$color1: #EE3D86;
$color2: #FEDB48;
$color3: #60C8D3;
$bgPerspective: url("../images/perspective.svg");
// main
body,
html {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: $bgPerspective;
    background-size: 20%;
    background-size: cover;
    background-position: bottom;
    background-color: #111111;
}

nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: sticky;
    background-color: black;
    color: $color1;
    font-family: "Tomorrow", sans-serif;
    margin: 0;
    width: 100vw;
    padding: 10px;
    z-index: 100;
    display: table;
    text-align: center;
    justify-content: middle;
    @include desktop {
        height: 50px !important;
    }
    @include mobile {
        height: 100px !important;
    }
    div {
        flex-wrap: wrap;
        p {
            &.current--page {
                color: white !important;
            }
            &:hover {
                color: $color2 !important;
            }
            cursor: pointer;
            user-select: none;
            @include mobile {
                font-size: 16pt;
                align-content: center;
            }
            margin: 5px;
            margin-top: 1em;
        }
        display: inline-flex;
    }
}

header {
    z-index: 10;
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    .vertical--break {
        margin-left: 10%;
        margin-right: 10%;
    }
    .nav--title {
        width: 60%;
        text-align: center;
        padding-top: 5vh;
        color: $color1;
        p.title {
            font-family: "Lazer84";
            text-shadow: 2px 2px #D00F86;
            font-size: 5vw;
            @include mobile {
                font-size: 8vw !important;
            }
            word-wrap: break-word;
        }
        p {
            font-family: "Tomorrow", sans-serif;
        }
    }
}

@keyframes drip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1.6);
    }
    100% {
        transform: scaleY(1);
    }
}

.vertical--break {
    width: 10vw;
    max-width: 50px;
    display: flex;
    z-index: 10;
    @include mobile {
        max-width: 20vw !important;
        width: 20vw !important;
    }
    div {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    div.break--outside {
        width: 20%;
        height: 100%;
        animation-name: drip;
        animation-duration: 4.8s;
        animation-iteration-count: infinite;
    }
    div.break--middle {
        width: 20%;
        height: 80%;
        animation-name: drip;
        animation-duration: 4.2s;
        animation-iteration-count: infinite;
    }
    div.break--inside {
        width: 20%;
        height: 60%;
        animation-name: drip;
        animation-duration: 3.4s;
        animation-iteration-count: infinite;
    }
}

.color--1 {
    background-color: $color1;
}

.color--2 {
    background-color: $color2;
}

.color--3 {
    background-color: $color3;
}

main {
    font-family: "Tomorrow", sans-serif;
    height: min-content;
    color: white;
    width: 100vw;
    .content--center {
        margin-left: 25vw;
        width: 50vw;
        h3 {
            color: $color2;
            font-family: "Monoton", cursive;
            font-size: 20pt;
        }
        ul,
        li {
            list-style: none;
            color: #FFFF24;
            font-variant-caps: petite-caps;
        }
        .content--tagline {
            font-variant-caps: petite-caps;
        }
    }
}

footer {
    height: 5vh;
    background: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    .footer--copy {
        position: absolute;
        top: 25%;
        bottom: 0;
        left: 5px;
        margin: auto;
        font-family: "Tomorrow", sans-serif;
        color: white;
    }
}